@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Pacifico&display=swap");

body {
  background: #1d1f20;
  font-family: "Fira sans", sans-serif;
}

.ui.center.aligned.container {
  padding: 20px;
}

.ui.raised.center.aligned.segment {
  width: 50%;
  margin: 0 auto;
  background: #2d1832;
}

.ui.header {
  color: #f1f3f8;
}

.ui.raised.segment {
  margin: 0 auto;
  background: #f1f3f8;
}

.ui.fluid.icon.input {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
}

.edit.icon {
  color: #2b818e;
  font-size: 30px;
}

.ui.button {
  background: #2b818e !important;
  color: #f1f3f8 !important;
  &:hover {
    background: #2d1832 !important;
    color: #f1f3f8 !important;
  }
}

.ui.raised.card.item {
  padding: 10px;
  font-size: 16px;
}

.ui.raised.card.item {
  color: #2d1832;
}

.ui.raised.card.item.completed {
  background: #2d1832;
  color: white;
}
